<div class="container d-flex justify-content-center heading-margin">
  <h1><%= @programming_language.name %></h1>
</div>
<div class="container d-flex justify-content-center">
  <div class="row d-flex justify-content-center">
    <% @listings.each do |listing| %>
      <div class="col-md-auto">
        <div class="card card-margin" style="width: 18rem;">
          <% if listing.picture.attached? %>
            <%= cl_image_tag(listing.picture.key, crop: :scale, cloud_name: "dvlberf5o", class: "card-img-top" ) %>
          <% else %>
            <%= image_tag("defaultimage2.png", class: "card-img-top")%>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center "><%= listing.title %></h5>
            <h6>Description</h6>
            <p class="card-text"><%= listing.tutor_name %></p>
            <h6>Description</h6>
            <p class="card-text"><%= listing.tutor_email %></p>
            <h6>Description</h6>
            <p class="card-text"><%= listing.description %></p>
            <h6>Description</h6>
            <p class="card-text">$<%= listing.price %></p>
            <div class="container d-flex justify-content-center">
              <p><%= link_to 'Show', listing, class: "btn btn-primary btn-margin" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  